<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>
  <div class="container-contact100">
    <div class="wrap-contact100 loading">
        <form class="contact100-form validate-form loading">
            <span class="contact100-form-title">
                ¡NUESTRO CONTACTO!
            </span>

            <div class="wrap-input100 validate-input" data-validate="Introduce tu nombre">
                <input class="input100" type="text" name="name" placeholder="Nombre" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Introduce tu correo: e@a.x">
                <input class="input100" type="text" name="email" placeholder="Correo electronico" required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Introduce tu mensaje">
                <textarea class="input100" name="message" placeholder="Tu mensaje:" required></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    Enviar
                </button>
            </div>
        </form>

    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
