<div class="catalogo">
    <div class="card">
      <img src="./assets/servicios/image1.jpg" alt="Imagen del Crucero por el Mediterráneo">
      <h3>Crucero por el Mediterráneo</h3>
      <p>120 euros por cabeza</p>
      <a routerLink="/producto/1">Ver detalles</a>
      <button>Comprar ahora</button>
    </div>
  
    <div class="card">
      <img src="./assets/servicios/image2.jpg" alt="Imagen del Tour de exploración por Tailandia">
      <h3>Tour de exploración por Tailandia</h3>
      <p>500 euros por cabeza</p>
      <a routerLink="/producto/2">Ver detalles</a>
      <button>Comprar ahora</button>
    </div>

    <div class="card">
        <img src="./assets/servicios/image3.jpg" alt="Imagen de la Aventura en los Alpes Suizos">
        <h3>Aventura en los Alpes Suizos</h3>
        <p>300 euros por cabeza</p>
        <a routerLink="/producto/3">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
        <img src="./assets/servicios/image4.jpg" alt="Imagen de Descubre las maravillas de Nueva Zelanda">
        <h3>Descubre las maravillas de Nueva Zelanda</h3>
        <p>800 euros por cabeza</p>
        <a routerLink="/producto/4">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
        <img src="./assets/servicios/image5.jpg" alt="Imagen del Viaje por las islas del Caribe">
        <h3>Viaje por las islas del Caribe</h3>
        <p>250 euros por cabeza</p>
        <a routerLink="/producto/5">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
        <img src="./assets/servicios/image6.jpg" alt="Imagen de la Expedición a la selva amazónica">
        <h3>Expedición a la selva amazónica</h3>
        <p>600 euros por cabeza</p>
        <a routerLink="/producto/6">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
      <img src="./assets/servicios/image7.jpg" alt="Imagen del Recorrido por las ciudades europeas">
      <h3>Recorrido por las ciudades europeas</h3>
      <p>450 euros por cabeza</p>
      <a routerLink="/producto/7">Ver detalles</a>
      <button>Comprar ahora</button>
    </div>
    <div class="card">
        <img src="./assets/servicios/image8.jpg" alt="Imagen del Safari por África">
        <h3>Safari por África</h3>
        <p>1000 euros por cabeza</p>
        <a routerLink="/producto/8">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
        <img src="./assets/servicios/image9.jpg" alt="Imagen de Descubre la cultura japonesa">
        <h3>Descubre la cultura japonesa</h3>
        <p>700 euros por cabeza</p>
        <a routerLink="/producto/9">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
        <img src="./assets/servicios/image10.jpg" alt="Imagen de Explora las ruinas mayas">
        <h3>Explora las ruinas mayas</h3>
        <p>400 euros por cabeza</p>
        <a routerLink="/producto/10">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      
  </div>
  
  