<body>
	<section id="home">
		<div class="content">
			<h1>Creative Design</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, aperiam, amet. Fugiat voluptates, cupiditate recusandae.</p>
		</div>
	</section>
	<section id="about">
		<div class="content">
			<h1>About Section</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid atque commodi dolor est nobis veniam! Eius rerum, unde. Accusamus corporis esse eveniet exercitationem fugiat harum pariatur sequi similique tenetur vitae. Aliquam amet est excepturi, exercitationem facere fugit ipsa laborum molestiae nemo officiis placeat quos repellat saepe temporibus voluptatum.</p>
            
		</div>
	</section>
</body>
