<body>
	<section id="home">
    <div class="container">
      <h2 class="mb-4" id="home-title">¡Descubre el mundo!</h2>
    </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/image1.jpg" class="d-block w-80 h-8" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/image7.jpg" class="d-block w-80 h-10" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/image10.jpg" class="d-block w-80 h-10" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/image11.jpg" class="d-block w-80 h-10" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/image5.jpg" class="d-block w-80 h-10" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/image20.jpg" class="d-block w-80 h-10" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/image21.jpg" class="d-block w-80 h-10" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
	</section>

<section class="py-3 py-md-5" id="info-extra">
  <div class="container">
    <h2 class="mb-5" id="info-extra-title">Descubre más con GlobalTourism</h2>
  </div>
  
  <div class="container" style="background-color: aliceblue;">
    <div class="row">
      <div class="col">
        <h2>Explora los detalles detrás de cada aventura. Desde los destinos más exóticos hasta los servicios personalizados, aquí encontrarás todo lo que necesitas para convertir tus sueños de viaje en realidad. En GlobalTourism, cada experiencia es única.</h2>
      </div>
      <div class="col">
        <img src="./assets/info-extra.jpg" width="500px">
      </div>
    </div>
  </div>
  <div class="container">
    <section id="best-sellers">
      <h2 class="mb-5" id="info-extra-title">Best Sellers</h2>
    </section>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="./assets/servicios/image1.jpg" class="card-img-top" alt="Imagen del Crucero por el Mediterráneo">
          <div class="card-body">
            <h5 class="card-title">Crucero por el Mediterráneo</h5>
            <p class="card-text">120 euros por cabeza</p>
            <button class="btn btn-success" routerLink="/carrito">Comprar ahora</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="./assets/servicios/image2.jpg" class="card-img-top" alt="Imagen del Tour de exploración por Tailandia">
          <div class="card-body">
            <h5 class="card-title">Tour de exploración por Tailandia</h5>
            <p class="card-text">500 euros por cabeza</p>
            <button class="btn btn-success" routerLink="/carrito">Comprar ahora</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="./assets/servicios/image3.jpg" class="card-img-top" alt="Imagen de la Aventura en los Alpes Suizos">
          <div class="card-body">
            <h5 class="card-title">Aventura en los Alpes Suizos</h5>
            <p class="card-text">300 euros por cabeza</p>
            <button class="btn btn-success" routerLink="/carrito">Comprar ahora</button>
          </div>
        </div>
      </div>

    </div>
    
  </div>
  
  <div class="container" id="redes">
    <section id="redes-sociales">
      <a href="https://www.instagram.com/" target="_blank" title="Instagram">
      <img src="./assets/instagram.png" class="redes-soc">
      </a>
      <a href="https://www.linkedin.com/" target="_blank" title="Linkedin">
      <img src="./assets/linkedin.png" class="redes-soc">
      </a>
      <a href="https://www.facebook.com/" target="_blank" title="Facebook">
      <img src="./assets/facebook.png" class="redes-soc">
      </a>
  </section>
  </div>
    
    
</section>
  <footer class="bg-dark text-white py-4">
    <div class="container text-center">
      <p>Derechos de autor &copy; 2024 - Venta de Servicios</p>
    </div>
  </footer>
</body>
