

<body>
    <section class="py-5">
        
    </section>
    <section class="py-3 py-md-5" id="about-us">
        <div class="container" >
          <h2 class="mb-5" id="about-us-title">Sobre nosotros</h2>
        </div>
        
        <div class="container" style="background-color: aliceblue;">
          <div class="row">
            <div class="col">
              <h2>¡GlobalTourism te ofrece los mejores viajes y servicios personalizados para garantizar experiencias inolvidables! Somos tu agencia de viajes dedicada a hacer realidad tus sueños de aventura y descubrimiento.</h2>
            </div>
            <div class="col">
              <img src="./assets/imagen-tienda.jpg" width="500px">
            </div>
          </div>
        </div>
          
      </section>
      <section class="py-5"></section>
      <section class="py-5"></section>

      <footer class="bg-dark text-white py-4">
        <div class="container text-center">
          <p>Derechos de autor &copy; 2024 - Venta de Servicios</p>
        </div>
      </footer>
</body>

