body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .row {
    display: flex;
    justify-content: center; 
    align-items: center;     
  }
.card{
    margin-top: 25%;
  }

.btn-success {
    background-color:#ff8800;
    margin-left: 61%;
}
