body {
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
}
section {
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.card {
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
}
