<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venta de servicios</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
  </style>
</head>
<body>

  
  <section class="py-5"> 
    <div class="container">
      <h2 class="mb-4" style="margin-top: 50px;">Nuestros Servicios:</h2>
      <div class="row">  </div>      
          <div class="card mb-3" style="width: 1120px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./assets/image7.jpg" class="card-img" alt="Título del Servicio" style="height: 267px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" tyle="font-size: 22px; font-weight: bold;">EL VIEJO CONTINENTE</h5>
                <br>
                <p class="card-text">Explora Europa en un viaje en tren lleno de encanto y diversidad cultural. Disfruta de paisajes cambiantes, ciudades históricas y experiencias auténticas mientras te desplazas cómodamente por este continente lleno de historia y belleza.
</p>
                <p class="card-text"><small class="text-muted">Precio: €450</small></p>
                <button class="btn btn-primary ver-mas" onclick="openDetails('detalle_europa.html')">Ver más</button>
              </div>
            </div>
        </div>
          </div>
          <div class="card mb-3" style="width: 1120px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./assets/image9.jpg" class="card-img" alt="Título del Servicio" style="height: 245px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">JAPÓN, LA MARAVILLA UTÓPICA</h5>
                <p class="card-text">Explora la cautivadora belleza y la rica cultura de Japón en un viaje inolvidable. Sumérgete en la elegancia de sus templos antiguos, la serenidad de sus jardines zen y la modernidad de sus bulliciosas ciudades, mientras descubres la fascinante mezcla de tradición y tecnología.
                </p>
                <p class="card-text"><small class="text-muted">Precio: €700</small></p>
                <button class="btn btn-primary ver-mas">Ver más</button>
              </div>
            </div>
            </div>
          </div>
          <div class="card mb-3" style="width: 1120px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="./assets/image8.jpg" class="card-img" alt="Título del Servicio" style="height: 245px;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">¡SAFARI AFRICANO!</h5>
                <p class="card-text">
                  Embárcate en un emocionante safari por África y sumérgete en la belleza salvaje de la naturaleza. Descubre la majestuosidad de la vida silvestre, desde los majestuosos leones hasta las elegantes jirafas, mientras exploras los impresionantes paisajes de la sabana africana.</p>
                <p class="card-text"><small class="text-muted">Precio: €1000</small></p>
                <button class="btn btn-primary ver-mas">Ver más</button>
              </div>
            </div>
            </div>
          </div>
          <div class="card mb-3" style="width: 1120px; height: auto;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/image1.jpg" class="card-img" alt="Título del Servicio" style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">¡Descubre el mediterráneo!</h5>
                  <p class="card-text">Embárcate en un inolvidable viaje explorando las costas del Mediterráneo. Sumérgete en la rica historia, descubre sus encantadores pueblos costeros y maravíllate con las impresionantes vistas mientras disfrutas de una experiencia única llena de aventuras.</p>
                  <p class="card-text"><small class="text-muted">Precio: €120</small></p>
                  <button class="btn btn-primary ver-mas">Ver más</button>
                </div>
              </div>
              </div>
            </div>
            <div class="card mb-3" style="width: 1120px; height: auto;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="./assets/image4.jpg" class="card-img" alt="Título del Servicio" style="height: 245px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Investiga la reliquia EUROPEA</h5>
                    <p class="card-text">
                      Explora la majestuosidad de los Alpes Suizos en un viaje único. Desde cumbres nevadas hasta pintorescos pueblos alpinos, sumérgete en paisajes impresionantes y disfruta de emocionantes actividades al aire libre en este destino cautivador.
                      
                      </p>
                    <p class="card-text"><small class="text-muted">Precio: €300</small></p>
                    <button class="btn btn-primary ver-mas">Ver más</button>
                  </div>
                </div>
                </div>
              </div>
              <div class="card mb-3" style="width: 1120px; height: auto;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./assets/image6.jpg" class="card-img" alt="Título del Servicio">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Expedicion a la AMAZONIA</h5>
                      <p class="card-text">Adéntrate en la selva amazónica en una aventura fascinante. Descubre la biodiversidad única, observa la vida salvaje en su hábitat natural y explora las maravillas naturales de este vasto ecosistema, hogar de una riqueza incomparable.</p>
                      <p class="card-text"><small class="text-muted">Precio: €600</small></p>
                      <button class="btn btn-primary ver-mas">Ver más</button>
                    </div>
                  </div>
                  </div>
                </div>
      </div>
     

  </section>


<section class="bg-light py-5">
  <div class="container">
    <h2 class="mb-4">Otros Servicios: Alquila nuestros coches para una experiencia única e intensa. </h2>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="./assets/fotoBMW.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body">
            <h5 class="card-title">BMW U11 3º Generación</h5>
            <p class="card-text">El BMW U11: lujo, rendimiento y tecnología de punta en un automóvil deportivo.</p>
            <a href="#" class="btn btn-primary">Alquilar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="./assets/fotoBMW2.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body">
            <h5 class="card-title">BMW Modelo M</h5>
            <p class="card-text">El BMW M: símbolo de potencia, elegancia y rendimiento en la industria automotriz.</p>
            <a href="#" class="btn btn-primary">Alquilar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="./assets/fotoBMW3.png" class="card-img-top" alt="Servicio 1">
          <div class="card-body">
            <h5 class="card-title">BMW Serie 8</h5>
            <p class="card-text">El BMW Serie 8: combinación de lujo, estilo y rendimiento para una experiencia de conducción excepcional.
            </p>
            <a href="#" class="btn btn-primary">Alquilar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <footer class="bg-dark text-white py-4">
    <div class="container text-center">
      <p>Derechos de autor &copy; 2024 - Venta de Servicios</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function openDetails(url) {
      window.open(url, '_blank');
    }
  </script>
</body>
</html>
