@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section {
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.7s;
  }

.card {
    background: url(https://i.postimg.cc/jq7x420Z/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.btn-primary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Servicio-titulo h2{
	position: relative;
	right: -33%;
    margin-top: 5%;
	font-size: 50px;
	font-weight: bold;
    font-family: Poetsen One;
	color:#ffffff;
	text-shadow: 3px 4px 0px black;
  

}

#info-extra-title {
    font-family: Poetsen One;
	font-size: 50px;
	font-weight: bold;
	color:#ffffff;
	text-shadow: 3px 4px 0px black;

}