<div class="producto">
    <div class="card">
      <img src="./assets/servicios/image1.jpg" alt="Imagen del Crucero por el Mediterráneo">
      <h3>Crucero por el Mediterráneo</h3>
      <p>120 euros por cabeza</p>
      <a routerLink="/producto/1">Ver detalles</a>
      <button>Comprar ahora</button>
    </div>
    <div class="card">
        <img src="./assets/servicios/image7.jpg" alt="Imagen del Recorrido por las ciudades europeas">
        <h3>Recorrido por las ciudades europeas</h3>
        <p>450 euros por cabeza</p>
        <a routerLink="/producto/7">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      <div class="card">
        <img src="./assets/servicios/image10.jpg" alt="Imagen de Explora las ruinas mayas">
        <h3>Explora las ruinas mayas</h3>
        <p>400 euros por cabeza</p>
        <a routerLink="/producto/10">Ver detalles</a>
        <button>Comprar ahora</button>
      </div>
      
</div>
