.navbar {
    position: fixed;  
    padding-left: 8%;
    top: 0;
    left: 0;
    background-color: #af71d9;
    margin-left: 5%;
    width: 100%;
  }
  
  .navbar ul {
    margin: 0;
    padding-left: 0;
    padding-right: 35px;
    display:inline-flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 40px;
    font-size: 20px;
    font-weight: 650;
    color: #000000;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #ffc451;
  }
 
 